
.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.photo-item {
    margin: 10px;
    flex-basis: calc(25% - 20px); 
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
