@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MY PHOTO LIST</h1>
    <p>Welcome to your favourite website</a>.</p>
    <div>
        <button class="btn btn-primary">
            My Photos
        </button>
    </div>
</div>
